@use "sass:map";
@use "../utils/variables" as *;

.card {
    display: grid;
    grid-template-rows: 270px 1fr auto;
    height: 100%;
    min-height: 480px;
    width: 100%;
    background-color: $color-white;
    border-radius: 0.5rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.09);
    overflow: hidden;
    transition: transform 0.2s ease;

    &:hover {
        transform: translateY(-3px);
    }


    &__image-box {
        width: 100%;
        height: 100%;
        background: $color-white;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__body {
        padding: 1.5rem 1rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.2rem;
    }

    &__image {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        object-position: center;
        display: block;
    }



    &__title {
        width: 100%;
        font-size: 1.2rem;
        font-weight: 600;
        color: $color-primary;
        font-family: $font-primary;

    }


    &__description {
        font-size: 1rem;
        color: $color-gray-dark;
        font-family: $font-secondary;

    }

    &__category {
        font-size: 0.95rem;
        color: $color-danger;
        font-family: $font-secondary;

    }

    &__price {
        font-weight: bold;
        font-size: 1.3rem;
        color: $color-gray-dark;
        font-family: $font-secondary;
        padding: 1rem;


    }
}