// ------------------------------------
// BREAKPOINTS
// ------------------------------------
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);

$grid-width: (
    xs: 360px,
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1320px
);


// Breakpoint para ocultar elementos en pantallas chicas (menores a md = 768px)
$hide-sm-max: 768px;


// COLOR PALETTE

$color-primary: #163fc7;
$color-primary-hover: #112c84;
$color-primary-active: #0a1b4d;


$color-secondary: #F97316;
$color-secondary-hover: #EA580C;
$color-secondary-active: #c2410c; // más oscuro que hover


$color-tertiary: #FACC15;
$color-tertiary-hover: #EAB308;
$color-tertiary-active: #ca8a04;


$color-danger: #EF4444;
$color-danger-active: #b91c1c;



$color-white: #FFFFFF; // Fondo general
$color-gray-light: #F3F4F6; // Fondo alternativo, tarjetas
$color-gray-medium: #D1D5DB;
$color-gray-dark: #111827; // Texto principal, íconos oscuros


$overlay-color: rgba(0, 0, 0, 0.6);




// LAYOUT / GENERAL

$body-bg-color: $color-white;
$header-bg-color: $color-primary;
$footer-bg-color: $color-primary;
$grid-columns: 12;
$grid-gap: 2rem;

$card-min-width: 280px;


// FUENTES

$font-primary: "Inter", sans-serif;
$font-secondary: "Nunito", sans-serif;
$font-tertiary: "Rubik", sans-serif;
$font-auxiliary: "Neucha", cursive;

// SPACINGS

$spacings: (
    m: margin,
    mt: margin-top,
    mb: margin-bottom,
    ml: margin-left,
    mr: margin-right,
    p: padding,
    pt: padding-top,
    pb: padding-bottom,
    pl: padding-left,
    pr: padding-right,
);