// ------------------------------------
// BREAKPOINTS
// ------------------------------------
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);

$grid-width: (
    xs: 360px,
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1320px
);


// COLOR PALETTE

$color-primary: #163fc7;
$color-primary-hover: #112c84;
$color-primary-active: #0a1b4d;


$color-secondary: #F97316;
$color-secondary-hover: #b94a0e;
$color-secondary-active: #c2410c;


$color-tertiary: #FACC15;

$color-danger: #EF4444;
$color-danger-hover: #bd3535;
$color-danger-active: #b91c1c;



$color-white: #FFFFFF; // Fondo general
$color-gray-light: #F3F4F6;
$color-gray-dark: #111827; // Texto principal


$overlay-color: rgba(0, 0, 0, 0.6);


// LAYOUT / GENERAL

$body-bg-color: $color-white;
$header-bg-color: $color-primary;
$footer-bg-color: $color-primary;

$grid-columns: 12;

// FUENTES

$font-primary: "Inter", sans-serif;
$font-secondary: "Nunito", sans-serif;
$font-tertiary: "Rubik", sans-serif;
$font-auxiliary: "Neucha", cursive;

// SPACINGS

$spacings: (
    m: margin,
    mt: margin-top,
    mb: margin-bottom,
    ml: margin-left,
    mr: margin-right,
    mx: margin-left margin-right,
    my: margin-top margin-bottom,
    p: padding,
    pt: padding-top,
    pb: padding-bottom,
    pl: padding-left,
    pr: padding-right,
    px: padding-left padding-right,
    py: padding-top padding-bottom,
    gp: gap,
);